@@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption')
.container {
	margin:0;
	padding:0;
	font font-family: "PT Serif"
}
.nav_menu {
	background-color: white;
	color: #666666; 
	list-style: none;
	text-align: right;
	padding:20px 0 0px 0;
	font-weight: lighter;
}
.nav_menu > li {
	display: inline-block;
	padding:0 25px 0 25px;
	font-size:13px;
}
.nav_menu > li> a {
	text-decoration: none;
	color: #666666;
}
#logo{
	color: #323232;
	float: left;
	padding-left: 25px;
	font-size: 16px;
	font-weight: bold;
}
#logo> a {
	text-decoration: none;
	color:#323232;
	display: inline-block;

}
.banner {
	width: 100%;
	display: block;
}
.banner> .banner-image {
	width: 100%;
	display: block;
}
.Banner {
	position: relative;
	width: : 100%;
}
h1 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	letter-spacing: 7px;
	line-height: 100px;
	
	
}
h2 {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	letter-spacing: 6px;
	line-height: 120px;
}
h3 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	letter-spacing: 6px;
	line-height: 50px;
}
.Nature_Photography{
	background-repeat: no-repeat;
	background size: cover:
	width:100%;
	display: block; 
}
.Nature_Photography> .Photography {
	width: 100%;
	display: block;
}
.Nature_Photography {
	position: relative;
	width: 100%;
} 
.Intothedeep> h4 {
	font-style: bold;
	font: sans-serif;
}
.Intothedeep> p{
	font-style: normal;
	font color: #666666;
	line-height: 26px;
}
#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
